/* team section */

.team_section {
    text-align: center;
  }
  
  .team_card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #9be604;
  }
  
  .team_card {
    width: 250px;
    padding: 0 15px;
    margin: 35px 0;
  }
  
  .team_card h5 {
    text-transform: uppercase;
  }
  
  .team_card img {
    width: 100%;
  }
  
  .team_detail-box {
    width: 150px;
    margin: 35px auto 0 auto;
  }
  
  .team_social {
    display: flex;
    justify-content: space-between;
  }
  
  .team_follow h6 {
    color: #9be604;
  }
  
  /* end team section */